.section {
  max-width: 1250px;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: 0;
  background: red;
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(181, 69, 69);
}
