@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  width: 100%;
  overflow-y: none;
  overflow-x: hidden;
}
:root {
  --font-text: "Acme";
  --font-header: "Open+Sans";
  --text-color: #000;
}

a {
  font-weight: 500;
  text-decoration: none;
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
  font-family: var(--font-text);
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 20px;
}
p {
  color: rgba(70, 70, 70, 0.6);
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 15px;
}

button {
  background: #d11919;
  transition: 0.5s;
}
button:hover {
  background: #e37575;
  transition: 0.5s;
}
